<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yk.myselfview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CircleViewActivity">
        </activity>
        <activity android:name=".activity.LockViewActivity">
        </activity>
        <activity android:name=".activity.LeafLoadActivity">
        </activity>
        <activity android:name=".activity.BMoveViewActivity">
        </activity>
        <activity android:name=".activity.CircleProgressActivity">
        </activity>
        <activity android:name=".activity.WaterLoadViewActivity">
        </activity>
        <activity android:name=".activity.VoiceLoadViewActivity">
        </activity>
        <activity android:name=".activity.ZqChartActivity">
        </activity>
        <activity android:name=".activity.RoateMenusActivity">
        </activity>
    </application>

</manifest>